<h1>{{weekday[date.getDay()]}} {{month[date.getMonth()]}}{{date | date: ' dd, yyyy'}}</h1>
<h2>{{clock | async | date:'mediumTime'}}</h2>
<h3>Logged in as: {{sharedService.getUser().name}}</h3>
<p>
  <span>{{message}}</span>
</p>
<table class="schedule">
  <tr class="header">
    <th>CRN</th>
    <th>Course Name</th>
    <th>Time</th>
  </tr>
  <tr *ngFor="let a of array" class="data">
    <td class="crn">{{a.crn}}</td>
    <td class="courseName">{{a.courseName}}</td>
    <td class="time">{{a.classTime}}</td>
    <button (click)="updateAttendance(a)">Attend Class</button>
  </tr>
</table>
<p>
  <button (click)="logout()">Logout</button>
</p>


<!-- put this on the <tr *ngFor> tag [routerLink]="['/detail', schedule.crn]" -->
