<p>
  <span>{{message}}</span>
</p>
<table class="schedule">
  <tr class="header">
    <th>CRN</th>
    <th>Course Name</th>
    <th>Time</th>
  </tr>
  <tr *ngFor="let schedule of schedules" class="data">
    <td class="crn">{{schedule.crn}}</td>
    <td class="courseName">{{schedule.courseName}}</td>
    <td>{{schedule.classTime}}</td>
    <button (click)="updateAttendance(schedule)">
      Attending Class
    </button>
  </tr>
</table>
<!-- put this on the <tr *ngFor> tag [routerLink]="['/detail', schedule.crn]" -->
